# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# Backup files
*_backup.*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo